* {
    margin: 0px;
    padding: 0px;
}

.blue {
    color: rgb(120, 120, 253);
}

.red {
    color: rgb(247, 120, 120);
}

.header-logo {
    float: left;
    padding: auto;
    font-size: 50px;
    color: white;
    font-family: 'Playfair Display', serif;
}

header {
    background:rgb(0,0,0,0.5);
    height: 90px;
    position: fixed;
    width: 100%;
}

.nav {
    float: right;
    font-size: 30px;
}

.nav li{
    float: left;
    padding: 10px 20px;
    color: wheat;
    font-family: 'Crimson Text', serif;
    list-style: none;
    font-size: 50px;
}

a:visited {
    color: wheat;
}

.main-image {
    width: 100%;
}

body {
    margin: auto;
}

.table {
    width: 100%;
    border-bottom: 2px solid rgb(255, 220, 66);
    padding-bottom: 8px;
}

.main {
    font-family: 'IM Fell French Canon SC', serif;
    font-size: 30px;
    /* background-color: blueviolet; */
    flex-direction: row-reverse;
    padding: 0px 64px;
}


.main h1 {
    color: rgb(255, 220, 66);
    /* background-color: antiquewhite; */
    width: 10px;
    height: 10px;
}

.main-consept {
    display: flex;
    padding-bottom: 40px;
    border-top: 32px dotted rgb(255, 56, 56);
}

.main-menu {
    padding-bottom: 40px;
    display: flex;
    flex-direction: row-reverse;
    border-top: 32px dotted rgb(255, 56, 56);
}

.main-menu h1 {
    padding-right: 140px;
}

.main-accsess {
    padding-bottom: 40px;
    display: flex;
    border-top: 32px dotted rgb(255, 56, 56);
}

.main-contact {
    padding-bottom: 40px;
    display: flex;
    border-top: 32px dotted rgb(255, 56, 56);
    flex-direction: row-reverse;
}

.main-contact h1 {
    padding-right: 240px;
}

#mypic {
    width: 480px;
    padding-left: 60px;
    padding-top: 60px;
}

.menu-image {
    width: 480px;
    padding-right: 60px;
    padding-top: 60px;
}

.accsess-image {
    width: 480px;
    padding-left: 60px;
    padding-top: 60px;
}

.main p {
    /* background-color: chartreuse; */
    padding: 160px 160px;
}

footer {
    font-size: 16px;
    width: 100%;
    text-align: center;
}

@media (max-width: 1400px) {
    .header-logo {
        font-size: 6vw;
    }

    .main {
        text-align: center;
        padding: 0 140px;
    }
    
    .nav-list {
        display: none;
    }

    .main-consept {
        flex-direction: column;

    }
    
    .main-menu {
        height: 300px;
        flex-direction: column;
    }
    
    .main-accsess {
        flex-direction: column;
        
    }
    
    .main-contact {
        flex-direction: column;
    }

    .main h1 {
        height: 16px;
    }

    .main p  {
        padding: 0px;
        padding-top: 48px;
    }

    #mypic {
        display: none;
    }

    .menu-image {
        display: none;
    }

    .accsess-image {
        /* display: none; */
        padding-left: 0px;
    }

.nav{
    position: absolute;
    width: 100%;
    left: -100%;
    top: 0;
    background: black;
    -webkit-transition: 0.7s;
    transition: 0.7s;
    text-align: center;
}

nav ul{
    margin: 0;
    padding: 0;
}

nav ul li{
    display: block;
    height: calc(100vh/5);
    line-height: 130px;
    list-style-type: none;
    font-size: 1.6em;
    text-align: center;
}


.nav a{
    text-decoration: none;
    text-align: center;
    color: #fff;
    height: 100%;
    text-shadow: initial;
    margin: 0 15px;

}

nav ul a::before,
nav ul a::after{
    border-bottom: initial;
    bottom: initial;
    content: initial;
    display: initial;
    transition: initial;
    -webkit-transition: initial;
    width: initial;
    position: initial;
}

nav ul a::before {
    left: initial;
}

nav ul a::after {
    right: initial;
}

nav ul a:hover::before,
nav ul a:hover::after {
    width: initial;
} 

#target {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
    display: block;
    -webkit-transition: 1s;
    transition: 1s;
}

.target_inner{
    width: 30px;
    height: 30px;
}

.target_inner_line {
    display: block;
    width: 40px;
    height: 3px;
    background: black;
    -webkit-transition: 1s;
    transition: 1s;
    border-radius: 50px;
    position: absolute;
}

.target_inner_1 {
    top: 3px;
    width: 30px;
}

.target_inner_2 {
    top: 13px;
    width: 30px;
}

.target_inner_3 {
    top: 23px;
    width: 30px;
}
.fadein{
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}

.linea,.lineb,.linec{
    background: #882a04;
    color: white;
}

.linea {
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
    top: 13px;
}

.lineb {
    opacity: 0;
}

.linec {
    -webkit-transform: rotate(-225deg);
    transform: rotate(-225deg);
    top: 13px;
}

.header-logo {
    display: none;
}

.container h1 {
    font-size: 36px;
}

    @media (max-width: 375px) {
        .header-logo {
            font-size: 6vw;
        }
    }
}